/*Menu navigation, logo_proverbe , footer, h2, small,center */

.logo{
	width:150px ;
	height:50px
}

div#content div{
	display :inline-block;
	width: 12%;

}
div#content div#photo{


}
div#content div#proverbe{
	vertical-align: top;

  }
nav.menu-nav ul li.bouton{
	list-style-type: none;
	display :inline-block;
}

nav.menu-nav ul li.bouton a{
	color:white;
	background-color:FF7733;
	text-decoration: none;
	padding:10px;
	font-size:20px;
}
nav.menu-nav ul li.bouton:hover a{
	color:FF7733;
	background-color:white;
	transition: 0.5S all;
}

footer{
	color:blue; 
 }

h2{
	padding:30px;
}


}
.small {
	font.size: 15px

}


.center{
	text-align: center
}

/*AgiWeb*/


div#content-acceuil div{
	display :inline-block;
	width:48%;

}
div.leftbox{

}
div.rightbox{

  }

/*AgiLog*/
div#content-agilog div{
	display :inline-block;
	width:48%;

}
div.leftbox{

}
div.rightbox{
}
 
div#content-agilog ul li.bouton2{
	list-style-type: none;

}

div#content-agilog ul li.bouton2 a{
	color:white;
	background-color:990066;
	text-decoration: none;
	padding:10px;
	font-size:20px;
}
div#content-agilog ul li.bouton2:hover a{
	color:990066;
	background-color:white;
	transition: 0.5S all;