/*Menu navigation, logo_proverbe , footer, h2, small,center */

.logo{
	width:150px ;
	height:50px ;
	float : left ;
}

.logoAM{
	width:400px ;
	height:300px ;
	float : center ;
}

table
{
	border-collapse: collapse;
}
td,th
{
	border-style: solid;
	border: 1px, solid black;
}

div#content div{
	display :inline-block;
	width: 12%;

}
div#content div#photo{
	float:left;
}

div#content div#proverbe{
	vertical-align: top;
}


nav.menu-nav ul li.bouton{
	list-style-type: none;
	display :inline-block;


}

nav.menu-nav ul li.bouton a{
	color:white;
	background-color:FF7733;
	text-decoration: none;
	padding:10px;
	font-size:20px;
}
nav.menu-nav ul li.bouton:hover a{
	color:FF7733;
	background-color:white;
	transition: 0.5S all;
}
div#extending-nav div{
	display :inline-block;

}
div#extending-nav .leftbox{
	margin-right: 100px;

}
.timer-fournisseurs{

}
#chrono{
	color:#FF7733;
	font-size: 30px;
	padding: 10px;


}
.timer-fournisseurs{
	color:#FF7733;
	font-size: 30px;
	padding: 10px;
}

footer{
	color:blue;
 }

h2{
	padding:30px;
}

.cssmarche {
	color:green;
	font-size:35px;
}

.small {
	font-size:15px

}


.center{
	text-align: center
}

/*AgiWeb*/


div#content-accueil div{
	display :inline-block;
	width:48%;

}
div#content-lean_acceuil div{
	display :inline-block;
	width:48%;

}


/*AgiLog acceuil*/
div#content-agilog div{
	display :inline-block;
	width:48%;

}

a.bouton2{
	margin-top:10px;
	color:white;
	background-color:990066;
	text-decoration: none;
	padding:10px;
	font-size:20px;
}
a.bouton2:hover{
	color:990066;
	background-color:white;
	transition: 0.5S all;
}

/*AgiLog Encours*/
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées  */
}
td,th
{
    border: 1px solid black;
}


div#content-commande ul li.bouton_commande{
	list-style-type: none;
}
div#content-commande ul li.bouton_commande a{
	color:white;
	background-color:990066;
	text-decoration: none;
	padding:10px;
	font-size:20px;
}
div#content-commande ul li.bouton_commande:hover a{
	color:990066;
	background-color:white;
	transition: 0.5S all;
}

div#content-stock div{
	display :inline-block;
	width:48%;
}
div#content-commande div{
	display :inline-block;
	width:48%;

}
