<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../Static/accueil.css">
		<meta charset="utf-8">
	</head>

	<body>

		<!-- Haut de Page -->
		<header>
			<div id="content">

				<div id="photo">
					<img class="logo" src="../Static/logo.jpg" alt="description" />
				</div>
				<div id="proverbe">
					<p> La gestion c'est la vie </p>
				</div>
			</div>
		</header>


		<!-- Menu de navigation -->
		<nav class="menu-nav">
			<ul>
				<li class="bouton">
					<a href="accueil.html"> Accueil </a>
				</li>
				<li class="bouton">
					<a href="AgiLog_accueil.html" rel="nofollow">
					AgiLog </a>
				</li>
				<li class="bouton">
					<a href="AgiLean_accueil.html" rel="nofollow">
					AgiLean </a>
				</li>

			</ul>


		</nav>
		<!-- Contenu -->


			<h2>
			Bienvenue sur la page d'accueil de votre logiciel de gestion du SeriousGame, AgiWeb </h2>
			<br>

			<p class= "small ">
			AgiWeb se décompose en deux parties : </p>
			<br>

			<div id="content-accueil">
				<div class="leftbox">

					<p class= "small "> - La partie logistique </p>

					<p> <a href="AgiLog_accueil.html" target="_blank" rel="nofollow">
					Clique ici pour accéder à la partie AgiLog  </a></p>

				</div>
				<div class="rightbox">


					<p class= "small "> - La partie lean </p>
					<p> <a href="AgiLean_accueil.html" target="_blank" rel="nofollow">
					 Clique ici pour accéder à la partie AgiLean  </a></p>

				</div>
			</div>

		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>



	</body>
