<html>
{% include "head.html" %}

	<body>
	{% include "Navbar.html" %}

		<!-- Contenu -->
			<h1>
			Bienvenue sur la page d'accueil de votre logiciel de gestion du SeriousGame, AgiWeb </h1>
			</br>

			<p class= "medium ">
			AgiWeb se décompose en deux parties : </p>
			</br>


			<div id="content-accueil">
				<div class="leftbox">

					<p > - La partie logistique </p>
					<a  class=bouton2 href="{{url_for('agilog')}}" rel="nofollow"> Cliquez ici pour accéder à la partie AgiLog  </a></p>
				</div>
				<div class="rightbox">
					<p> - La partie lean </p>
					<p> <a class=bouton2 href="{{url_for('agilean')}}" rel="nofollow"> Cliquez ici pour accéder à la partie AgiLean  </a></p>
				</div>

			</div>

		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
			</br>
			<p class= "small ", color="blue">
			- Design HTML par Baptiste Bessodes et Edwin Guiller </p>
			<p class= "small ", color="blue">
			- Programmation par Benjamin Lallemand, Arthur Laureille et Renaud Ferté </p>
			<p class= "small ", color="blue">
			- Structuration BDD & Experts Métiers : Colin Fraisse et Arthur Vivien </p>
			<p class= "small ", color="blue">
			- Gestion de Projet : Nathan Attia </p>


		<div id="photo">
			<img class="logoAM" src="{{url_for("static",filename="logoAM.png")}}" alt="description" align = "bottom right"/>
		</div>

	<strong>ATTENTION ça supprime les pieces, noms, kits, commandes passées etc.<br> Pour debuter un run avec les pieces et kits actuels, il suffit d'aller dans encours et "Debuter Run"</strong>
	</footer>
	<div id="extending-nav">
	  <div class="leftbox">
	    <nav class="menu-nav">
	      <ul>
					<li class="bouton">
						<a href="{{url_for('ResetBDD')}}"> RESET BDD pour reinitialiser le SeriousGame </a>
					</li>
	      </ul>
				<br><br>
				</body>
</html>
