<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../Static/accueil.css">
		<meta charset="utf-8">
	</head>

	<body>

		<!-- Haut de Page -->
		<header>
			<div id="content">

				<div id="photo">
					<img class="logo" src="logo.jpg" alt="description" />
				</div>
				<div id="proverbe">
					<p> La gestion c'est la vie </p>
				</div>
			</div>
		</header>


		<!-- Menu de navigation -->
		<nav class="menu-nav">
			<ul>
				<li class="bouton">
					<a href="accueil.html"> Accueil </a>
				</li>
				<li class="bouton">
					<a href="AgiLog_accueil.html" target="_blank" rel="nofollow">
					AgiLog </a>
				</li>
				<li class="bouton">
					<a href="AgiLean_accueil.html" target="_blank" rel="nofollow">
					AgiLean </a>
				</li>

			</ul>


		</nav>
		<!-- Contenu -->
		<h2> Bienvenue sur la page d'accueil de AgiLog </h2>
		<div id="content-agilog">
			<ul>

				<div class="leftbox">

					<p class= "small "> Vous voulez lancez le run et initialiser les paramètres du jeux ? Cliquez alors sur Initialisation </p>
					<li class="bouton2">
						<a href="initialisation.html"> Initialisation </a>
					</li>
				</div>
				<div class="rightbox">

					<p class= "small "> Encours ? Cliquez alors sur Encours </p>
					<li class="bouton2">
						<a href="encours.html"> Encours </a>
					</li>
				</div>
			</ul>
		</div>
		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>

</body>
