<html>
{% include "head.html" %}

	<body>


{% include "Navbar.html" %}

		<!-- Contenu -->
		<h1> Bienvenue sur la page d'accueil de AgiLog </h1>
		<div id="content-agilog">

			<div class="leftbox">

				<p class= "small "> Vous voulez lancez le run et initialiser les paramètres du jeux ? Cliquez alors sur Initialisation </p>

				<a class="bouton2" href="{{url_for('initialisation')}}"> Initialisation </a>
			</div>

			<div class="rightbox">

				<p class= "small "> Vous êtes en cours de jeux ? Cliquez alors sur Encours pour accéder à toutes les disponibilités</p>

				<a class="bouton2" href="{{url_for('encoursAlog')}}"> Encours </a>
			</div>

		</div>
		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>

</body>
