<html>
{% include "head.html" %}

	<body>

		{% include "Navbar.html" %}

		<!-- Contenu -->

		<h1> Bienvenue sur la page d'acceuil de AgiLean </h1>
		<div id="content-lean_acceuil">
			<div class="leftbox">
				<p>Commander un kit : </p>
				<a class="bouton2" href="{{url_for('com_lean')}}">Commander</a>
			</div>
			<div class="rightbox">
				<p>Vous venez de recevoir un kit et vous souhaitez l'ajouter au stock ? </p>
				<a class="bouton2" href="{{url_for('receptkit')}}" rel="nofollow"> Déclarer réception d'un kit </a></p>
			</div>
		</div>

		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>
</body>
</html>
