<html>
{% include "head.html" %}

	<body>


{% include "Navbar.html" %}

		<!-- Contenu -->
		<h2> Bienvenue sur la page d'accueil de AgiLog </h2>
		<div id="content-agilog">
			<ul>

				<div class="leftbox">

					<p class= "small "> Vous voulez lancez le run et initialiser les paramètres du jeux ? Cliquez alors sur Initialisation </p>
					<li class="bouton2">
						<a href="{{url_for('initialisation')}}"> Initialisation </a>
					</li>
				</div>
				<div class="rightbox">

					<p class= "small "> Encours ? Cliquez alors sur Encours </p>
					<li class="bouton2">
						<a href="encours.html"> Encours </a>
					</li>
				</div>
			</ul>
		</div>
		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>

</body>
