<html lang="en" dir="ltr">
{%include 'head.html'%}
  <body>
    {%include 'navbar.html'%}
    <h1>saisi d'un nouveau kit :</h1>
    <form method='post' action='{{url_for('modif_kit')}}'>
      <input type="hidden" name="choix" value="True">
      <label for="nom_kit1"> nom du kit : </label><input type='str' name='nom_kit_a_modif' value='' />
      <input type='submit' value='Envoyer'/>
    </form>
    <strong>{{msg}}</strong>
    <h1>choix d'un kit existant :</h1>
    <form action="{{url_for('modif_kit')}}" method="post">
      <input type="hidden" name="choix" value="False">
      <select name="nom_kit_a_modif">
        <option value="vierge">selectionnez une entrée</option>
        {%for kit in liste_kit%}
        <option value="{{kit['nom_kit']}}">{{kit['nom_kit']}}</option>
        {%endfor%}
      </select>
      <input type="submit" value="Modifier">
    </form>
    <h1>Tabeaux deja renseigné :</h1>
    <table>
      <tr>
        <th>id kit</th>
        <th>Nom du kit</th>
        <th>Pieces dans kit</th>
      </tr>
      {%for kit in liste_id%}
      <tr>
        <td>{{kit[0]}}</td>
        <td>{{kit[1]}}</td>
        <td>
          <ul>
            </br>
            {%for piece in tab_piece[loop.index0]%}
            <li>{{piece['nom']}} : {{piece['quantite'] }} </li>
            {%endfor%}
          </ul>
        </td>
      </tr>
      {%endfor%}
    </table>

    <h1>Supprimer kit:</h1>
    <form action="{{url_for('supprimer_kit')}}" method="post">
            <select name='nomdele'>
                <option value='0'>Choisissez un kit à Supprimer</option>
                {%for kit in liste_kit%}
                  <option value='{{kit['nom_kit']}}'>{{kit['nom_kit']}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="supprimer">
    </form>

  </body>
</html>
