<!-- page encours agilog (ref schema site trello) -->

<html>
{% include "head.html" %}

	<body>

		{% include "Navbar.html" %}


		<!-- Contenu -->

		<div id="content-stock">
			<h1>Stocks</h1>

			<table>
				<caption>Stock des pièces encours</caption>
				<tr>
					<th>Id piece</th>
					<th>Nom piece</th>
					<th>Quantité</th>
					<th>Délai</th>
					<th>Valider réception</th>
				</tr>
				{%for piece in liste_id %}
				<tr>
					<th>{{piece['id_piece']}}</th>
					<th>{{piece['nom']}}</th>
					<th>{{piece['quantite']}}</th>
					<th>{{piece['delai']}}</th>
					<th>
						<li class="bouton_valider">
				      <a href="{{url_for('bouton_val')}}" rel="nofollow">
				      Oui </a>
				    </li>
					</th>
				</tr>
				{%endfor%}
			</table>

			<table>
				<caption>Stock des pièces réel</caption>
				<tr>
					<th>Id piece</th>
					<th>nom Piece</th>
					<th>quantité</th>
				</tr>
				{%for piece in liste_id %}
				<tr>
					<th>{{piece['id_piece']}}</th>
					<th>{{piece['nom']}}</th>
					<th>{{piece['quantite']}}</th>
				</tr>
				{%endfor%}
			</table>

				</div>
		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>

</body>
</html>
