<!-- page encours agilog (ref schema site trello) -->

<html>
{% include "head.html" %}

	<body>

		{% include "Navbar.html" %}


		<!-- Contenu -->
		<p class="cssmarche"> css marche t'il ? </p>
		<div id="content-stock">
			<h1>Stocks</h1>

			<table>
				<caption>Stock des pièces encours</caption>
				<tr>
					<th>Id piece</th>
					<th>Nom piece</th>
					<th>Quantité</th>
					<th>Délai</th>
					<th>Valider réception</th>
				</tr>
				{%for piece in liste_id %}
				<tr>
					<th>{{piece['id_piece']}}</th>
					<th>{{piece['nom']}}</th>
					<th>{{piece['quantite']}}</th>
					<th>{{piece['delai']}}</th>
					<th>
						<li class="bouton_valider">
				      <a href="{{url_for('bouton_val')}}" rel="nofollow">
				      Oui </a>
				    </li>
					</th>
				</tr>
				{%endfor%}
			</table>

			<table>
				<caption>Stock des pièces réel</caption>
				<tr>
					<th>Id piece</th>
					<th>Nom Piece</th>
					<th>Quantité</th>
					<th>A recompléter ?</th>
				</tr>
				{%for piece in liste_id %}
				<tr>
					<th>{{piece['id_piece']}}</th>
					<th>{{piece['nom']}}</th>
					<th>{{piece['quantite']}}</th>
					<th>Oui ou non suivant le seuil de recompletement</th>
				</tr>
				{%endfor%}
			</table>

				</div>
				<div id="content-commande">
					<ul>

						<div class="leftbox">

							<p class= "small "> Vous voulez passer une commande chez AgiGreen ? </p>
							<li class="bouton_commande">
								<a href="{{url_for('commandegreen')}}"> Oui </a>
							</li>
						</div>
						<div class="rightbox">

							<p class= "small ">Vous voulez passer une commande chez AgiPart ? </p>
							<li class="bouton_commande">
								<a href="{{url_for('commandepart')}}"> Oui </a>
							</li>
						</div>
					</ul>
				</div>
		<!-- Pied de page -->
		<footer>
			<p> Copyright &copy; AgiWeb 2020 - All right reserved </p>
		</footer>

</body>
</html>
