<!-- page agilog/init/gestion stock (reference schema site trello) -->

<html>
{% include "head.html" %}


{% include "Navbar.html" %}

<div class='contenu'>
	<h1>Ajout d'une piece dans un kit</h1><br/>
	{% if msg!="" %}<strong>{{ msg }}</strong><br/><br/>{% endif %}
	<form method='post' action='{{ url_for("gestion_stock") }}'>
	<label for='seuile'>seuil de recompletement</label><input type='text' name='seuile' value=''>
	<label for='secue'>stock de secu</label><input type='text' name='secue' value=''>
	<label for='delaie'>delai de reappro</label><input type='text' name='delaie' value=''>
	<label for='nome'>nom de la pièce</label>
		<select name='Nom de la pièce'>
			<option value='0'>Choisissez une Piece</option>
			{%for nom in liste_nom%}
			<option value='{{nom['nom']}}' {% if role==loop.index %} active {% endif %}>{{nom['nom']}}</option>
			{%endfor%}
		</select>
	<input type='submit' value='ajouter'>
	</form><br/>
</div>

</body>
</html>
