<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../Static/accueil.css">
		<meta charset="utf-8">
	</head>

	<body>

		<!-- Haut de Page -->
		<header>
			<div id="content">

				<div id="photo">
					<img class="logo" src="../Static/logo.jpg" alt="description" />
				</div>
				<div id="proverbe">
					<p> La gestion c'est la vie </p>
				</div>
			</div>
		</header>


		<!-- Menu de navigation -->
		<nav class="menu-nav">
			<ul>
				<li class="bouton">
					<a href="accueil.html"> Accueil </a>
				</li>
				<li class="bouton">
					<a href="AgiLog_accueil.html" target="_blank" rel="nofollow">
					AgiLog </a>
				</li>
				<li class="bouton">
					<a href="AgiLean_accueil.html" target="_blank" rel="nofollow">
					AgiLean </a>
				</li>

			</ul>


		</nav>
	</body>
</html>