<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Initialisation</title>
<link href="../Static/accueil.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
	<div id="content">
	  <div id="photo">
		<img class = "logo" src="../Static/logo.jpg" alt=""/> 
	  </div>
		<div id="proverbe">
			<p>La gestion c'est la vie </p>
		</div>
		
	</div>
</header>
	
<nav class="menu-nav">
			<ul>
				<li class="bouton">
					<a href="accueil.html"> Accueil </a>
				</li>
				<li class="bouton">
					<a href="AgiLog_accueil.html" target="_blank" rel="nofollow">
					AgiLog </a>
				</li>
				<li class="bouton">
					<a href="AgiLean_accueil.html" target="_blank" rel="nofollow">
					AgiLean </a>
				</li>

			</ul>


		</nav>
	
	<ul>
		<li>
			<a href="stock.html">Renseigner stock initial</a>
		</li>
		<li>
			<a href="gestion_stock.html">gestion des stocks</a>`
		</li>
		<li>
			<a href="def_kit.html">définir un kit </a>
		</li>
	</ul>

</body>
</html>