<html>
{% include "head.html" %}
	<body>
		{% include "Navbar.html" %}
		<form action="{{url_for("com_lean")}}" method="post">
			<select class="" name="kit_a_com">
				{%for kit in kits%}
				<option value="{{kit['id']}}">{{kit['nom_kit']}}</option>
				{%endfor%}
			</select>
			<input type="text" name="quantite" value="">
			<input type="submit" name="" value="Commander kit">
		</form>
		<strong>{{msg}}</strong>
    <table>
      <tr>
        <th>Kit</th>
        <th>stock</th>
      </tr>
      {%for kit in kits%}
      <tr>
        <td>{{kit['nom_kit']}}</td>
        <td>{{kit['stock_alean']}}</td>
      </tr>
      {%endfor%}
    </table>
    <a class="bouton2" href="{{url_for('receptkit')}}">Valider reception kit</a>
	</body>
</html>
